body{
  padding-top: 55px;
}
.page-header{
  margin-top: 20px;
}

.mBottom{
  margin-bottom: 20px;
}
.badge{
	border-radius: 0;
}

.groupBy{
	bottom: -25px;
}

.groupBy label{
	margin-right: 20px;
}

.favourite{
margin-right: 5px;
margin-top: 3px;
}
@media screen and (min-width: 768px) {
	.time{
		margin-top: -10px;
	}
}

